#wx-header {
    position: relative;
    z-index: 99;
    // overflow: hidden;
    height: 45px;
    // font-size: 15px;
    padding: 0 15px 0 10px;
    line-height: 45px;
    background: #1b1b1b;
    opacity: 1;
    color: #fff;
    user-select: none;
    -webkit-user-select: none;
    transition: all 0.3s linear;
    .header-title {
        margin: 0 auto;
        text-align: center;
        font-size: 17px;
        float: left;
        width:100%;
        span {
            font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Noto Sans CJK SC, WenQuanYi Micro Hei, Arial, sans-serif
        }
        .icon-return-arrow {
            left: 10px;
            position: absolute;
            font-size: 16px;
        }
    }
    .header-tip {
        position: absolute;
        cursor: pointer;
        right: 10px;
        &>span {
            font-size: 16px;
            display: inline-block;
        }
        &>.iconfont {
            font-size: 22px;
            width: 40px;
            text-align: center;
        }
        .tips-masker {
            position: fixed;
            left: 0;
            top: 0;
            width: 100%;
            z-index: 1;
            top: 45px;
            bottom: 50px;
        }
        .tips-menu {
            position: absolute;
            z-index: 2;
            width: 133px;
            font-size: 16px;
            right: 0;
            top: 54px;
            text-align: left;
            border-radius: 2px;
            background-color: #49484b;
            padding: 0 15px;
            -webkit-transform-origin: 90% 0%;
            transform-origin: 90% 0%;
        }
    }
}